/*=============================
  Primary Styles
=============================*/

html {
  height: 100%;
  color: #FFF;
}

body {
  background-image: linear-gradient(135deg, #56CCF2, #2F80ED);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
  font-family: "Helvetica";
  font-weight: 300;
  width: 100%;
  height: 100%;
}

a {
  color: #FFF;
}

.no-underline {
  text-decoration: none;
}

p {
  color: #FFF;
}

.btc-price {
  font-size: 50px;
}

.container {
  height: 100%;
  width: 100%;
}

.header {
  padding: 30px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 90px;
  font-size: 50px;
  font-weight: 100;
  color: #FFF;
}

.links {
  position: absolute;
  top: 30px;
  left: 30px;
}

.social {
  position: absolute;
  top: 30px;
  right: 30px;
}

.social-inside {
  margin: 0px;
  padding: 0px;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.facebook {
  padding-top: 9px;
  left: 11px;
  width: 17px;
}

.github {
  padding-top: 8px;
  left: 10px;
  width: 20px;
}

.twitter {
  padding-top: 10px;
  left: 10px;
  width: 20px;
}

.slack {
  padding-top: 9px;
  left: 9px;
  width: 20px;
}

.telegram {
  padding-top: 10px;
  left: 9px;
  width: 19px;
}

.main {
  margin: 0 auto;
}

.content {
  padding-top: 60px;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #FFF;
}

.footer-content {
  text-align: center;
  padding: 30px;
  font-size: 14px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

[m-mask] {
  display: none;
}

.button {
  background-color: #F2A900 ;
  border-radius: 24px;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.hodl-reason {
  font-size: 24px;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 0.4s;
  animation-name: fadein;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hodl-results {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1.5s;
  animation-name: fadein;
  animation-duration: 1.5s
}